body {
    background-color: #f9a03f;
}

h1 {
    color:#e9f7ca;
    font-family: monospace;
    font-size: 60px;
    margin: 0;
    text-align: right;
    user-select: none;
}

h2 {
    color:#e9f7ca;
    font-family: monospace;
    font-size: 20px;
    margin: 0 0 1rem 0;
    text-align: right;
    user-select: none;
}

#root {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.blog {
    min-width: 75%;
    max-width: 75%;
}

.data {
    background-color: #f7d488;
    display: flex;
    font-family: monospace;
    justify-content: flex-end;
    padding: .5rem;
}

.data button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.data button:focus {
    color: purple;
    outline: 0;
}

zero-md {
    background-color: #eaefb1;
    padding: 1.5rem;
}