body {
    background-color: #f9a03f;
}

h1 {
    color:#e9f7ca;
    font-family: monospace;
    font-size: 60px;
    text-align: right;
}

#root {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.posts {
    max-width: 75%;
}

.data {
    background-color: #f7d488;
    padding: .5rem;
    text-align: right;
}

zero-md {
    background-color: #eaefb1;
    /* margin-bottom: 1rem; */
    padding: 1.5rem;
}